* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 16px;
  /* background-color: rgba(191, 192, 191, 1); */
  background-color: #fff;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: rgba(0, 133, 202, 1);
}

.page-header {
  position: relative;
  width: 100%;
  padding: 7rem 0 1rem 0;
  background-color: #000;
  border-bottom: 0.5rem solid rgba(0, 133, 202, 1);
}

.page-header__title {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  color: #fff;
  font-family: Pavanam, Arial, Helvetica, sans-serif;
  font-size: 4rem;
  font-weight: 400;
  line-height: 4rem;
  text-align: right;
}

.page-header__title span {
  color: rgba(0, 133, 202, 1);
}

.page-header__title a {
  color: #fff;
}

.top-nav {
  max-height: 0;
  overflow: hidden;
  transition: 0.7s;
}

.top-nav__button {
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 1rem;
  cursor: pointer;
  border: none;
  outline: none;
  color: #fff;
  background-color: #000;
  font-size: 2rem;  
  font-weight: bold;
}

.top-nav__content {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgba(0, 133, 202, 1);
}

.top-nav__content a {
  padding: 1.25rem;
  color: #fff;
  font-size: 1.25rem;
}

.top-nav__content a:hover {
  color: #000;
}

.page-main {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.page-section {
  width: 100%;
  margin-top: 2rem;
}

.page-article {
  margin-bottom: 2rem;
  padding: 1rem 0;
  color: #000;
  background-color: #fff;
}

.page-article__header h2 {
  display: flex;
  margin: 0 auto 2rem;
}

.page-article__header h2::after {
  content: "";
  flex: 1 1;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 7px;
  height: 2px;
  background-color: rgba(0, 133, 202, 1);
}

h2.page-article__header-long {
  display: none;
}

.page-article__services {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #f2f2f2;
  border-radius: 7px;
  text-align: center;
}

.page-article__services img.icon-visible {
  animation-name: icon-pulse;
  animation-duration: 1s;
  animation-delay: .5s;
}

.page-article__services img {
  max-width: 75%;
}

.page-article__certs {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.page-article__certs img {
  max-width: 75%;
}

.page-footer {
  padding: 1rem 0;
  text-align: center;
  font-size: 1rem;
  color: rgba(0, 133, 202, 1);
  background: #000;
}

.page-footer a {
  color: rgba(0, 133, 202, 1);
}

.page-footer a:hover {
  color: #fff;
}

.page-footer__div {
  width: 80%;
  margin: 2rem auto;
  border: 1px solid rgba(0, 133, 202, 1);
}

.material-icons {
  margin-right: 10px;
  vertical-align: middle;
}

@keyframes icon-pulse {
  50%  { transform: scale(0.9, 0.9); }
  100% { transform: scale(1, 1); }
}

@media screen and (min-width: 992px) {
  .page-header__title{
    font-size: 7rem;
    line-height: 7rem;
  }

  h2.page-article__header-long {
    display: flex;
  }

  h2.page-article__header-short {
    display: none;
  }
}